@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;0,800;0,900;1,500&display=swap');


svg {
  display: block;
  width: 100%;
  height: 95vh;
}

svg .country {
  background-color: #383638;
}

svg .country:hover {
  stroke: #95C254;
  stroke-width: 1px;
  cursor: pointer;
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  background-color: #181718;
}

.title { 
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3em;
  letter-spacing: .3em;
  left: 2em;
}

text .label {
  color: white;
}

.detailsMenu {
  position: relative;
  padding: 2em 2em;
  position: fixed;
  text-align: left;
  width: 24%;
  height: 100vh;
  background: rgba($color: white, $alpha: 0.05);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  color: white;
}

.todayTitle {
  margin-top: 2em;
  margin-bottom: .5em;
}

.cont {
  margin-bottom: .5em;
  font-weight: lighter;
}

.stat {
  color: white;
  span {
    margin-right: .5em;
  }
}

.key {
  color: white;
  font-weight: 100;
  position: absolute;
  font-size: 14px;
  top: 4.5em;
  left: 3em;
}

.close {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1.1em;
  right: 1em;
  line-height: 1;
  border-radius: 100%;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    background:#95C254;
  }
}

.loading {
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3em;
  letter-spacing: .3em;
}